Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -google-explicit-constructor,
  -modernize-use-nodiscard,
  -misc-unused-parameters

FormatStyle:     google
HeaderFilterRegex: ''
# Turn all the warnings from the checks above into errors.
WarningsAsErrors: ""

